.myattendance{
    width: 100%;
    background-color: white;
    height: 100%;
}

.percentage{
    padding-left: 110px;
    padding-top:20px;
    width: 100%;
    background-color: white;
    height: 100%;
}