#navbar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left : 20px;
        padding-top : 20px;
        padding-bottom: 20px;
        width: 28%;
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
        background-color: black;
        left : 0px;
        color : white;
}


.name{
    font-size: 40px;
}

a{
    color: red;
    text-decoration: none;
    font-size: 15px;
}

.logo{
    height : 150px;
    width : 150px;
}